WLQuickApps.FieldManager/WLQuickApps.FieldManager.Silverlight/Service References/SiteService/SiteService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WLQuickApps.FieldManager.Business" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WLQuickApps.FieldManager.Business" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWeather">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Weather" nillable="true" type="tns:Weather" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWeather" nillable="true" type="tns:ArrayOfWeather" />
  <xs:complexType name="Weather">
    <xs:sequence>
      <xs:element minOccurs="0" name="Day" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxTemperature" type="xs:int" />
      <xs:element minOccurs="0" name="MinTemperature" type="xs:int" />
      <xs:element minOccurs="0" name="WeatherSummary" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Weather" nillable="true" type="tns:Weather" />
</xs:schema>